.page-header {
	padding: 15rem 0 5rem;
	background-color: $primary;
	background-image: url('/great-barrier-reef/assets/images/pattern.svg');
	background-size: 512px 512px;
}

	.page-header-title,
	.page-header-subtitle {
		margin: 0;
		font-family: 'League Gothic';
		font-weight: normal;
		font-style: normal;
		color: $white;
		line-height: 1.2;
		letter-spacing: 0.15em;
		text-transform: uppercase;
	}

	.page-header-title {
		max-width: $m-w-l;
		font-size: 6.4rem;
	}

	.page-header-subtitle {
		font-size: 3.2rem;
	}