<article class="card" data-card>
  <figure class="card-image">
      <img src="/src/images/reef.jpg" alt="" data-card-image>
  </figure>
  <div class="card-body" data-card-body>
    <h2>Great Barrier Reef</h2>
    <p>
      The Great Barrier Reef is the world's largest coral reef system composed of over 2,900 individual reefs and 900 islands stretching for over 2,300 km over an area of approximately 344,400km<sup>2</sup>. The reef is located in the Coral Sea, off the coast of Queensland, Australia.
      <a href="https://en.wikipedia.org/wiki/Great_Barrier_Reef" target="_blank"> Read More</a>
    </p>
  </div>
</article>