<article class="card" data-card>
  <figure class="card-image">
      <img src="/src/images/reef.jpg" alt="" data-card-image>
  </figure>
  <div class="card-body" data-card-body>
    <h2>Great Barrier Reef</h2>
    <p>Explore the 344,400 km<sup>2</sup> of the Great Barrier Reef Marine Park</p>
  </div>        
  <div class="card-footer">
    <button class="hide" data-button-reset>Back to map</button>
    <button class="hide" data-button-panorama>Dive into the reef</button>
    <button class="hide" data-button-island>Explore the island</button>
  </div>
</article>