<article class="feature">
  <figure class="feature-image">
    <img src="{{ site.baseurl }}/src/glyphs/compass.svg" alt="">
  </figure>
  <div class="feature-body">
    <h3 class="feature-title">Explore the Reef</h3>
    <p class="feature-description">Learn the scale of the Great Barrier Reef by navigating through the 2,300km-long ecosystem, thousands of reefs, and hundreds of islands.</p>
  </div>
</article>

<article class="feature">
  <figure class="feature-image">
    <img src="{{ site.baseurl }}/src/glyphs/seahorse.svg" alt="">
  </figure>
  <div class="feature-body">
    <h3 class="feature-title">Dive in</h3>
    <p class="feature-description">Get up close to the reef structures that make up the Great Barrier Reef through virtual dives, keep an eye out for unique coral structures and sea life up close.</p>
  </div>
</article>

<article class="feature">
  <figure class="feature-image">
    <img src="{{ site.baseurl }}/src/glyphs/coral.svg" alt="">
  </figure>
  <div class="feature-body">
    <h3 class="feature-title">Reefs</h3>
    <p class="feature-description">Discover the 2,900 unique individual reef structures spread across the Great Barrier Reef that together make up the Great Barrier Reef.</p>
  </div>
</article>

<article class="feature">
  <figure class="feature-image">
    <img src="{{ site.baseurl }}/src/glyphs/starfish.svg" alt="">
  </figure>
  <div class="feature-body">
    <h3 class="feature-title">Islands</h3>
    <p class="feature-description">The Great Barrier Reef includes over 600 continental islands, see the difference in size, location, and geology between them.</p>
  </div>
</article>

<article class="feature">
  <figure class="feature-image">
    <img src="{{ site.baseurl }}/src/glyphs/map.svg" alt="">
  </figure>
  <div class="feature-body">
    <h3 class="feature-title">Marine park zoning</h3>
    <p class="feature-description">See how the Great Barrier Reef is being preserved by marine park zoning, protecting waters along the Great Barrier Reef coast.</p>
  </div>
</article>