<article class="feature">
  <figure class="feature-image">
    <img src="/src/glyphs/crab.svg" alt="">
  </figure>
  <div class="feature-body">
    <h2 class="feature-title">Explore</h2>
    <p class="feature-description">Explore XXX reefs</p>
  </div>
</article>

<article class="feature">
  <figure class="feature-image">
    <img src="/src/glyphs/crab.svg" alt="">
  </figure>
  <div class="feature-body">
    <h2 class="feature-title">Dive</h2>
    <p class="feature-description">Explore XXX reefs</p>
  </div>
</article>

<article class="feature">
  <figure class="feature-image">
    <img src="/src/glyphs/crab.svg" alt="">
  </figure>
  <div class="feature-body">
    <h2 class="feature-title">Reefs</h2>
    <p class="feature-description">Explore XXX reefs</p>
  </div>
</article>

<article class="feature">
  <figure class="feature-image">
    <img src="/src/glyphs/crab.svg" alt="">
  </figure>
  <div class="feature-body">
    <h2 class="feature-title">Islands</h2>
    <p class="feature-description">Explore XXX reefs</p>
  </div>
</article>

<article class="feature">
  <figure class="feature-image">
    <img src="/src/glyphs/crab.svg" alt="">
  </figure>
  <div class="feature-body">
    <h2 class="feature-title">Zones</h2>
    <p class="feature-description">Explore XXX reefs</p>
  </div>
</article>