<ul class="filters">
	<li class="filter">
		<span class="filter-label">Dives</span>
		<div class="switch on" data-filter="dive">
			<div class="switch-toggle"></div>
		</div>
	</li>
	<li class="filter">
		<span class="filter-label">Reefs</span>
		<div class="switch on" data-filter="reef">
			<div class="switch-toggle"></div>
		</div>
	</li>
	<li class="filter">
		<span class="filter-label">Islands</span>
		<div class="switch on" data-filter="island">
			<div class="switch-toggle"></div>
		</div>
	</li>
	<li class="filter">
		<span class="filter-label">Zones</span>
		<div class="switch on" data-filter="zone">
			<div class="switch-toggle"></div>
		</div>
	</li>
</ul>