<aside class="sidebar">
  {% include toggle.html %}
  
  <header class="sidebar-header pattern">
    <h1 class="sidebar-header-title">
      <small>Explore the</small>
      <em>Great Barrier Reef</em>
    </h1>
    <a href="{{ site.baseurl }}/about" class="sidebar-header-link">
      <img src="{{ site.baseurl }}/src/glyphs/info.svg" alt="">
    </a>
  </header>
  
  <div class="sidebar-body">

    {% include card.html %}

    {% include filters.html %}
    
  </div>

  <footer class="sidebar-footer">
    <nav class="sidebar-footer-nav">
      <a href="{{ site.releases }}">{{ site.current_version }}</a>
      <a href="{{ site.baseurl }}/about">About</a> 
      <a href="{{ site.repo }}">GitHub</a> 
      <a href="{{ site.issues }}">Issues</a>
    </nav>
  </footer>

</aside>