<aside class="sidebar">
  {% include toggle.html %}
  
  <header class="sidebar-header">
    <p class="sidebar-header-subtitle">Explore the</p>
    <h1 class="sidebar-header-title">Great Barrier Reef</h1>
  </header>
  
  <div class="sidebar-body">
    {% include filters.html %}
  </div>

  <footer class="sidebar-footer">
    <nav class="sidebar-footer-nav">
      <a href="{{ site.repo }}/releases">{{ site.current_version }}</a>
      <a href="{{ site.baseurl }}/about">About</a> 
      <a href="{{ site.twitter }}">Twitter</a> 
      <a href="{{ site.repo }}">GitHub</a> 
      <a href="{{ site.repo }}/issues">Issues</a>
    </nav>
  </footer>

</aside>