dl {
	margin: 1em 0;
	font-size: 1.6rem;
	line-height: 1;
	letter-spacing: 0.035rem;
}

dt,
dd {
	display: block;
	margin: 1em 0;

	@media (min-width: 640px) {
		display: inline;
		margin: 0;
	}
}

dt {
	font-style: italic;
}

dd {
	
	@media (min-width: 640px) {
		display: inline;

		&:not(:last-child) {
			margin-right: 0.5em;
		}
	}
}