button,
.button {
	display: inline-block;
	padding: 0.6em 0.8em;
	font-family: $sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	color: $dark-grey;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.035em;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background: $white;
	border: 1px solid $light-grey;
	border-radius: $border-radius;

	&:hover,
	&:focus {
		color: $primary;
		text-decoration: none;
		background: $white;
		border: 1px solid $primary;
	}

	&:active,
	&.active {
		outline: 0;
	}

	&.disabled,
	&:disabled {
		opacity: 0.65;
	}
}