button,
.button {
	display: inline-block;
	padding: 1em 1.5em;
	font-family: $sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	color: $white;
	text-decoration: none;
	background: $primary;

	&:hover,
	&:focus {
		color: $white;
		text-decoration: none;
		background: $primary;
	}

	&:active,
	&.active {
		outline: 0;
	}

	&.disabled,
	&:disabled {
		opacity: 0.65;
	}
}