button,
.button {
	display: inline-block;
	padding: 1em 1.5em;
	font-family: $sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	color: $white;
	background: $primary;
	border-radius: 30px;
	border: none;
	transition: all $fast ease-in-out;

	&:hover,
	&:focus {
		color: $white;
		text-decoration: none;
		background: $secondary;
	}

	&:active,
	&.active {
		outline: 0;
	}

	&.disabled,
	&:disabled {
		opacity: 0.65;
	}
}

.button-l {
	font-size: 1.4rem;
}

.button-xl {
	font-size: 1.6rem;
}