.navigation {
	
	ul {
		
	}

	li {
		
	}

	a {
		padding: 1rem 1.5rem;
		font-size: 1.6rem;
		font-weight: 400;
		color: $dark-grey;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $primary;
			text-decoration: none;
		}
	}
}