/**
 * Base
 */

$fast: 100ms;

/* Margin */
$m-xs: 1rem;
$m-s: 2rem;
$m-m: 3rem;
$m-l: 5rem;
$m-xl: 8rem;

/* Padding */
$p-xs: $m-xs;
$p-s: $m-s;
$p-m: $m-m;
$p-l: $m-l;
$p-xl: $m-xl;

/* Max Width */
$m-w-xs: 32rem;
$m-w-s: 48rem;
$m-w-m: 64rem;
$m-w-l: 80rem;
$m-w-xl: 128rem;


/**
 * Colors
 */

/* Shades */
$white: #FFF;
$black: #000;
$light: #EEE;
$light-grey: #DDD;
$grey: #555;
$dark-grey: #333;
$dark: #222;

/* Palette */
$primary: #2A26EA;
$secondary: #1815B7;
$tertiary: #03DBC3;


/**
 * Layout
 */

/* Gutter */
$gutter: 1.5rem;

/* Container */
$c-xs: $m-w-xs;
$c-s: $m-w-s;
$c-m: $m-w-m;
$c-l: $m-w-l;
$c-xl: $m-w-xl;


/**
 * Typography
 */

$serif: Georgia, "Times New Roman", serif;
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";