.card {
	max-width: 100%;
}

	.card-image {
		margin: 0;

		img {
			width: 100%;
			height: auto;
		}
	}

	.card-body {
		padding-top: 1rem;

		h2 {
			margin: 0;
			font-size: 1.6rem;
			color: currentColor;
		}

		p {
			margin: 0.5em 0;
			font-size: 1.2rem;
			color: $grey;
		}
	}

	.card-footer {
		padding: 1rem 0;
	}