.feature {
	display: flex;
	align-items: center;
	margin: $m-s 0;
}
	
	.feature-image {
		flex: 0 0 auto;
		margin: 0;
		margin-right: $m-s;
	}
	
	.feature-body {
		flex: 1 1 auto;
	}

		.feature-title {
			margin: 0 0 0.5em;
			font-size: 1.4rem;
			font-weight: 600;
			text-transform: uppercase;
		}

		.feature-description {
			margin: 0;
			font-size: 1.4rem;
		}