.toggle {
	padding: 10px;
	width: $toggle-size;
	height: $toggle-size;
	color: $dark-grey;
	background: $white;
	border: none;
	border-radius: 0;

	&:hover,
	&:focus {
		color: $dark;
		background: $white;
		border: none;
	}
}

	.toggle-bar {
		display: block;
		margin: 4px auto;
		width: 24px;
		height: 2px;
		background: currentColor;
		transition: all $fast ease-in-out;
	}